<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%X{traceId}] [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="SingleFile" fileName="logs/app-single.log">
            <PatternLayout pattern="%d [%X{traceId}] [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <RollingFile name="RollingFile"
                     fileName="logs/app.log"
                     filePattern="logs/app-%d{MM-dd-yyyy}.log.gz">
            <PatternLayout pattern="%d [%X{traceId}] [%t] %-5level %logger{36} - %msg%n"/>

            <Policies>
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
        <Logger name="ua.ithillel.lesson26.classwork.LoggingClass"
                level="INFO"
                additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="ua.ithillel.lesson26.classwork.pkg"
                level="DEBUG"
                additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="SingleFile"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
    </Loggers>
</Configuration>